#title {
    background-color:hsl(0, 2%, 20%) ; font-family: 'Audiowide', cursive;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  .logo-img{
    width: 100%;
    height: auto;
  }

/* h1{
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    line-height: 1.5; 
}
/* containers */
.top-container  {
    background-color:#bdc2c7; 
    position: relative;
    padding-top: 100px;
}
.carlosimg {
  margin-left: 575px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color:hsl(0, 2%, 20%);
    padding: 50px 0 20px;
  }

  .top-cloud      {
    position: absolute;
   /* right: 300px; */
    top: 50px;
    margin-left: 180px;

}
.bottom-cloud  {
   position:absolute;
   /* left: 300px; */
   bottom: 300px;
}

.code-img       {
     width: 25%;
    float: left;
    margin-right: 30px;
}
.chilli-img     {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row      {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}    


  /* Texto */

  h1   {
    font-size:5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;     
  }

h2   {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
  }

h3   {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;  
    text-align: center;      
  }



p    {
    line-height: 2;  
  }

hr   {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .pro            {
    text-decoration: underline;
}
.bio            {
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;

}
/* .bottom-container */

.link-linkedin {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: lightgrey;
  text-decoration: none;
  padding-left: 42%;
}
.link-twitter {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: lightgrey;
  text-decoration: none;
  padding-left: 42%;
}
.link-dribbble {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: lightgrey;
  text-decoration: none;
  padding-left: 42%;
}

.link-linkedin:hover {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #12c2e9;
  text-decoration: none;
}
.link-twitter:hover {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #c471ed;
  text-decoration: none;
}
.link-dribbble:hover {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #f64f59;
  text-decoration: none;
}

.copyright {
color: #eaf6f6;
font-size: 0.75rem ;
padding: 20px 0;
text-align: center;
}

/* Experimento */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    /* background: ;  Seccion debajo de power point */
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}










/* Termina Experimenta */

/* bottton */

  .btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'Montserrat' ;
    width: 200px;
    font-size: 20px;
    font-weight: 100;
    padding: 0;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 575px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
 }
